Repository sdamache/konveyn2ai_bigquery: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, bandit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for KonveyN2AI - HACKATHON MODE
# Streamlined for demo-ready functionality over perfect style
# Focuses on critical errors that break functionality, not cosmetic issues

repos:
  # Essential pre-commit hooks only (hackathon mode)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements  # Critical: prevents debug statements in production

  # Local tools using versions from requirements.txt
  - repo: local
    hooks:
      # Black code formatting
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: [--line-length=88]



      # Security scanning with Bandit
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        args: [--recursive, --format, txt]
        files: ^src/.*\.py$

feat: migrate Batch 1 unit test import patterns
  tests/unit/janapada/test_janapada_main.py
  tests/unit/svami/test_svami_main.py
Due: black

feat: achieve 100% test success by fixing patch target conflicts
  tests/integration/test_gemini_migration.py
  tests/test_guard_fort.py
  tests/test_json_rpc_models.py
  tests/unit/amatya/test_amatya_main.py
  tests/unit/common/test_models.py
  tests/unit/svami/test_svami_main.py
  tests/utils/service_imports.py
Due: black

feat: synchronize Black formatting configuration across environments
  .pre-commit-config.yaml
  pyproject.toml
  scripts/ingest.py
  src/common/rpc_server.py
  src/guard_fort/guard_fort.py
  src/janapada-memory/main.py
  tests/conftest.py
  tests/test_rpc_server.py
Due: black, bandit

feat: pin Black version for CI consistency and fix janapada test
  .pre-commit-config.yaml
  pyproject.toml
  tests/unit/janapada/test_janapada_main.py
Due: black

fix: resolve all 39 CI linting errors with automated tools and configuration
  .pre-commit-config.yaml
  examples/enhanced_agent_manifest_demo.py
  examples/guard_fort_demo.py
  examples/guard_fort_security_demo.py
  examples/json_rpc_server_demo.py
  fix_integration_tests.py
  pyproject.toml
  requirements.txt
  scripts/ingest.py
  setup_env.py
  src/amatya-role-prompter/advisor.py
  src/amatya-role-prompter/config.py
  src/amatya-role-prompter/main.py
  src/amatya-role-prompter/prompts.py
  src/common/__init__.py
  src/common/agent_manifest.py
  src/common/models.py
  src/common/rpc_server.py
  src/janapada-memory/main.py
  src/svami-orchestrator/main.py
  src/svami-orchestrator/test_endpoint.py
  src/svami-orchestrator/test_health.py
  src/svami-orchestrator/test_orchestration.py
  test_guard_fort_exceptions.py
  test_guard_fort_logging.py
  test_janapada_real_world.py
  test_runner.py
  tests/conftest.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_gemini_migration.py
  tests/integration/test_service_interactions.py
  tests/test_agent_manifest.py
  tests/test_guard_fort.py
  tests/test_json_rpc_models.py
  tests/unit/amatya/test_amatya_main.py
  tests/unit/common/test_models.py
  tests/unit/svami/test_svami_main.py
  tests/utils/service_imports.py
  tests/utils/test_clients.py
  tests/utils/test_helpers.py
Due: black, bandit

feat: implement validation-only CI with perfect version synchronization
  .github/workflows/ci.yml
  .pre-commit-config-ci.yaml
  docs/LINTING_WORKFLOW.md
  scripts/validate_tool_versions.py
Due: black

fix: resolve google.genai import path issues in tests and documentation
  API_INTEGRATION.md
  EXPLANATION.md
  README.docker.md
  TESTING.md
  tests/conftest.py
  tests/unit/amatya/test_amatya_main.py
Due: black

fix: resolve test_prompt_construction failure to achieve 100% CI test success
  tests/unit/amatya/test_amatya_main.py
Due: black

feat: implement comprehensive Claude AI code review improvements with 100% CI success
  .env.example
  src/amatya-role-prompter/advisor.py
  src/amatya-role-prompter/config.py
  src/amatya-role-prompter/main.py
Due: black, bandit

fix: add PYTHONPATH=src to CI project setup tests for import resolution
  .github/workflows/ci.yml
Due: none

fix: move pydantic_core import to module level to resolve CI dependency issues
  src/amatya-role-prompter/main.py
Due: black, bandit

fix: resolve CI project setup test import path issue
  tests/test_project_setup.py
Due: black

refactor: update event loop fixture to use event loop policy for test session
  src/janapada-memory/main.py
  tests/conftest.py
Due: black, bandit

feat: implement CI/CD pipeline foundation with deployment validation (task 11)
  .github/workflows/cd-pipeline.yml
  deployment/tests/validate-deployment.sh
Due: none

feat: implement secure Google Cloud Run deployment infrastructure (task 11)
  deployment/configs/cloudbuild.yaml
  deployment/configs/docker-compose.yml
  deployment/scripts/deploy-to-cloud-run.sh
  deployment/scripts/setup-artifact-registry.sh
  deployment/scripts/setup-monitoring.sh
  deployment/scripts/setup-service-auth.sh
Due: none

feat: implement Phase 1 evaluation - Response Relevance testing (task 11)
  deployment/tests/test-response-relevance.sh
Due: none

fix: resolve user question pipeline with Phase 2 evaluation (task 11)
  deployment/tests/test-contextual-understanding.sh
  src/amatya-role-prompter/advisor.py
  src/common/models.py
  src/svami-orchestrator/main.py
Due: black, bandit

feat: transform role templates with Phase 3 evaluation (task 11)
  deployment/tests/test-role-customization.sh
  src/amatya-role-prompter/main.py
  src/amatya-role-prompter/prompts.py
Due: black, bandit

feat: implement Phase 4-5 evaluation - Error Handling & Performance (task 11)
  deployment/tests/test-error-handling.sh
  deployment/tests/test-performance.sh
Due: none

feat: implement Phase 6 evaluation - Security & Complete Framework (task 11)
  deployment/tests/test-real-integration.sh
  deployment/tests/test-security-compliance.sh
Due: none

fix: update tests to include required question field in AdviceRequest (task 11)
  tests/integration/test_gemini_migration.py
  tests/test_json_rpc_models.py
  tests/unit/amatya/test_amatya_main.py
  tests/unit/common/test_models.py
Due: black

feat: optimize containers with real-time service monitoring (task 11)
  Dockerfile.svami
  deployment/scripts/monitor-services.sh
  docker-compose.yml
  test-docker.sh
Due: none

docs: enhance documentation with live status monitoring (task 11)
  docs/DEPLOYMENT.md
  sample-integration/strapi-indexing/STRAPI_INDEXING_RESULTS.md
  sample-integration/strapi-indexing/index-strapi-codebase.py
  sample-integration/strapi-indexing/simple-strapi-indexer.py
  sample-integration/strapi-indexing/strapi-indexing-demo.py
Due: black

security: remove API keys from Docker build args (task 11)
  Dockerfile.amatya
  deployment/scripts/deploy-to-cloud-run.sh
Due: none

security: replace hard-coded production URLs with environment variables (task 11)
  deployment/tests/test-contextual-understanding.sh
  deployment/tests/test-deployment.sh
  deployment/tests/test-docker.sh
  deployment/tests/test-error-handling.sh
  deployment/tests/test-performance.sh
  deployment/tests/test-real-integration.sh
  deployment/tests/test-role-customization.sh
  deployment/tests/test-security-compliance.sh
Due: none

security: restrict CORS origins to trusted domains (task 11)
  src/svami-orchestrator/main.py
Due: black, bandit

fix: standardize port configurations across deployment files (task 11)
  deployment/configs/cloudbuild.yaml
Due: none

fix: align memory allocation specifications across deployment files (task 11)
  deployment/configs/cloudbuild.yaml
Due: none

security: enhance environment configuration and port standardization (task 11)
  .env.example
  .gitignore
  Dockerfile.janapada
Due: none

chore: ignore strapi-test directory from version control
  .gitignore
Due: none

security: implement demo token replacement with secure test configuration (task 11)
  deployment/tests/generate-test-token.py
  deployment/tests/test-config.sh
  deployment/tests/test-error-handling.sh
  deployment/tests/test-security-compliance.sh
Due: black

fix: improve error propagation and restore CORS security (task 11)
  src/svami-orchestrator/main.py
Due: black, bandit

fix: implement race condition fixes in deployment script with proper readiness checks (task 11)
  deployment/scripts/deploy-to-cloud-run.sh
  src/amatya-role-prompter/main.py
Due: black, bandit

feat: implement connection pooling for JSON-RPC clients (task 11)
  src/common/rpc_client.py
  src/svami-orchestrator/main.py
Due: black, bandit

security: complete critical pre-merge security improvements (task 11)
  deployment/tests/test-config.sh
  deployment/tests/test-contextual-understanding.sh
  deployment/tests/test-error-handling.sh
  deployment/tests/test-performance.sh
  deployment/tests/test-real-integration.sh
  deployment/tests/test-role-customization.sh
  deployment/tests/test-security-compliance.sh
  deployment/tests/validate-deployment.sh
Due: none

fix: resolve agent evaluation percentage calculation error (task 11)
  deployment/tests/test-real-integration.sh
Due: none

fix: add INDEX_ID secret to CD pipeline environment variables
  .github/workflows/cd-pipeline.yml
Due: none

fix: add Docker authentication for Artifact Registry in CD pipeline
  deployment/scripts/deploy-to-cloud-run.sh
Due: none

fix: grant service account user permission for Cloud Run deployment
  deployment/scripts/deploy-to-cloud-run.sh
Due: none
