Repository sdamache/konveyn2ai_bigquery: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, isort, mypy, bandit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for KonveyN2AI
# Uses local tools from requirements.txt for version consistency
# See https://pre-commit.com for more information

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  # Local tools using versions from requirements.txt
  - repo: local
    hooks:
      # Black code formatting
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: [--line-length=88]

      # Ruff linting and fixing
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: [check, --fix, --exit-non-zero-on-fix]

      # Import sorting with isort
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: [--profile=black, --line-length=88]

      # Type checking with MyPy
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|docs/|src/.*-.*/)
        files: ^src/common/.*\.py$

      # Security scanning with Bandit
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        args: [--recursive, --format, txt]
        files: ^src/.*\.py$

feature 4.2: json rpc api
  .gitignore
  requirements.txt
  src/common/rpc_client.py
  src/svami-orchestrator/__init__.py
  src/svami-orchestrator/main.py
  tests/test_rpc_client.py
Due: black, ruff, isort, mypy, bandit

feature 4.3-json-rpc-server
  examples/json_rpc_server_demo.py
  src/common/models.py
  src/common/rpc_server.py
  tests/test_rpc_server.py
Due: black, ruff, isort, mypy, bandit

fix: resolve CI failures for Python 3.9 compatibility and code quality
  src/common/rpc_client.py
  src/common/rpc_server.py
  tests/test_rpc_server.py
Due: black, ruff, isort, mypy, bandit

fix: complete MyPy type annotation fixes for CI compliance
  src/common/rpc_server.py
Due: black, ruff, isort, mypy, bandit

fix: resolve pre-existing CI code quality issues for merge
  src/guard_fort/guard_fort.py
  tests/test_guard_fort.py
  tests/test_json_rpc_models.py
  vector_index.py
Due: black, ruff, isort, bandit

fix: resolve CI linting and type issues (task 4.3)
  docs/development-credentials.md
  examples/guard_fort_demo.py
  examples/guard_fort_security_demo.py
  examples/json_rpc_server_demo.py
  src/common/rpc_client.py
  src/common/rpc_server.py
  src/guard_fort/__init__.py
  src/guard_fort/guard_fort.py
  test_credentials.py
  test_guard_fort_exceptions.py
  test_guard_fort_logging.py
  tests/test_guard_fort.py
  tests/test_json_rpc_models.py
  tests/test_rpc_client.py
  tests/test_rpc_server.py
  vector_index.py
Due: black, ruff, isort, mypy, bandit

fix: resolve all pre-commit hook violations
  examples/guard_fort_demo.py
  examples/guard_fort_security_demo.py
  examples/json_rpc_server_demo.py
  src/common/models.py
  src/common/rpc_client.py
  src/common/rpc_server.py
  src/guard_fort/guard_fort.py
  src/svami-orchestrator/main.py
  test_credentials.py
  test_guard_fort_exceptions.py
  test_guard_fort_logging.py
  tests/test_guard_fort.py
  tests/test_json_rpc_models.py
  tests/test_rpc_client.py
  tests/test_rpc_server.py
  vector_index.py
Due: black, ruff, isort, mypy, bandit

fix: resolve remaining pre-commit violations for CI pipeline
  config/cloud-run/amatya-role-prompter.yaml
  config/cloud-run/janapada-memory.yaml
  config/cloud-run/svami-orchestrator.yaml
  docs/development-credentials.md
  docs/regional-configuration.md
  docs/service-accounts.md
  examples/guard_fort_demo.py
  examples/guard_fort_security_demo.py
  test_guard_fort_exceptions.py
  test_guard_fort_logging.py
  tests/test_guard_fort.py
  tests/test_json_rpc_models.py
Due: black, ruff, isort

fix: streamline pre-commit hooks for hackathon development
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix: resolve all CI test failures and pre-commit issues
  .pre-commit-config.yaml
  src/guard_fort/guard_fort.py
  tests/test_guard_fort.py
Due: black, ruff, isort, bandit

fix: add noqa E402 comments for intentional module-level imports
  examples/guard_fort_demo.py
  examples/guard_fort_security_demo.py
  examples/json_rpc_server_demo.py
  test_guard_fort_exceptions.py
  test_guard_fort_logging.py
  tests/test_guard_fort.py
  tests/test_json_rpc_models.py
Due: black, ruff, isort

fix: apply final black formatting for CI consistency
  src/guard_fort/guard_fort.py
  tests/test_guard_fort.py
Due: black, ruff, isort, bandit

fix: remove unused pre-commit hooks for streamlined configuration
  .pre-commit-config.yaml
Due: none

fix: remove assertions for unused pre-commit tools in code quality tests
  tests/test_project_setup.py
Due: black, ruff, isort

feature 4.4:Agent Manifest Generator
  examples/enhanced_agent_manifest_demo.py
  examples/json_rpc_server_demo.py
  src/common/__init__.py
  src/common/agent_manifest.py
  src/common/rpc_server.py
  tests/test_agent_manifest.py
  tests/test_rpc_server.py
Due: black, ruff, isort, mypy, bandit

fix: apply black formatting to resolve CI pre-commit failures
  examples/enhanced_agent_manifest_demo.py
  examples/json_rpc_server_demo.py
  src/common/agent_manifest.py
  src/common/rpc_server.py
  tests/test_agent_manifest.py
Due: black, ruff, isort, mypy, bandit

feat: implement enhanced data models with 80% konveyor adaptation (task 5)
  src/common/__init__.py
  src/common/models.py
  tests/test_json_rpc_models.py
Due: black, ruff, isort, mypy, bandit

feat: expand README with enhanced data models, usage examples, and project status updates
  README.md
Due: none

feat: implement FastAPI JSON-RPC endpoint for Janapada Memory Service (task 6.1)
  src/janapada-memory/main.py
Due: black, ruff, isort, bandit

feat: implement FastAPI application with JSON-RPC endpoint (task 7.1)
  src/amatya-role-prompter/advisor.py
  src/amatya-role-prompter/config.py
  src/amatya-role-prompter/main.py
  src/amatya-role-prompter/prompts.py
Due: black, ruff, isort, bandit

fix: resolve CI pre-commit failures for task 6.1
  src/janapada-memory/main.py
Due: black, ruff, isort, bandit

feat: implement Vertex AI integration and model caching (task 7.2)
  src/amatya-role-prompter/advisor.py
  src/amatya-role-prompter/main.py
  src/common/rpc_server.py
Due: black, ruff, isort, mypy, bandit

feat: develop enhanced role-specific prompt construction (task 7.3)
  src/amatya-role-prompter/prompts.py
Due: black, ruff, isort, bandit

fix: resolve CI pipeline failures (task 7)
  src/amatya-role-prompter/advisor.py
  src/amatya-role-prompter/config.py
  src/amatya-role-prompter/main.py
  src/amatya-role-prompter/prompts.py
Due: black, ruff, isort, bandit

feat: implement Vertex AI embeddings integration (task 6.2)
  src/janapada-memory/main.py
Due: black, ruff, isort, bandit

feat: implement Vertex AI Matching Engine client integration (task 6.3)
  README.md
  setup_env.py
  src/janapada-memory/main.py
  test_janapada_real_world.py
Due: black, ruff, isort, bandit

fix: apply black code formatting for CI compliance
  setup_env.py
  src/janapada-memory/main.py
  test_janapada_real_world.py
  test_subtask_6_3_comprehensive.py
Due: black, ruff, isort, bandit

fix: resolve import path issues in test_project_setup.py
  __init__.py
  tests/test_project_setup.py
Due: black, ruff, isort

fix: resolve pytest-asyncio compatibility issue in CI
  requirements.txt
Due: none

feat: implement file collection and chunking for repository ingestion (task 9.1-9.2)
  scripts/ingest.py
Due: black, ruff, isort

feat: complete repository ingestion pipeline (task 9.3-9.4)
  scripts/ingest.py
Due: black, ruff, isort

fix: resolve CI pipeline failures with setuptools build backend
  pyproject.toml
  test_subtask_6_3_comprehensive.py
  tests/test_project_setup.py
Due: black, ruff, isort

fix: comprehensive CI pipeline resolution with PYTHONPATH approach
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Revert "feat: implement Vertex AI Matching Engine client integration (task 6.3)"
  .github/workflows/ci.yml
  README.md
  __init__.py
  requirements.txt
  setup_env.py
  src/janapada-memory/main.py
  test_janapada_real_world.py
  test_subtask_6_3_comprehensive.py
  tests/test_project_setup.py
Due: black, ruff, isort, bandit

restore: re-add Janapada Memory Service implementation after revert
  setup_env.py
  src/janapada-memory/main.py
  test_janapada_real_world.py
Due: black, ruff, isort, bandit

task 8:svami-orchestratot
  src/svami-orchestrator/main.py
  src/svami-orchestrator/test_endpoint.py
  src/svami-orchestrator/test_health.py
  src/svami-orchestrator/test_orchestration.py
Due: black, ruff, isort, bandit

task 10-docker-containerization
  .dockerignore
  .env.docker.template
  Dockerfile.amatya
  Dockerfile.janapada
  Dockerfile.svami
  README.docker.md
  docker-compose.yml
  test-docker.sh
Due: none

task-14:unit integration tests
  .coveragerc
  TESTING.md
  pytest.ini
  requirements.txt
  scripts/run-tests.sh
  test_runner.py
  tests/conftest.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_service_interactions.py
  tests/unit/amatya/test_main.py
  tests/unit/common/test_models.py
  tests/unit/janapada/test_main.py
  tests/unit/svami/test_main.py
  tests/utils/test_helpers.py
Due: black, ruff, isort

fix: resolve Bandit B104 security warnings for host binding configurations
  .pre-commit-config.yaml
  src/svami-orchestrator/main.py
  src/svami-orchestrator/test_endpoint.py
  src/svami-orchestrator/test_health.py
  src/svami-orchestrator/test_orchestration.py
  test_runner.py
  tests/conftest.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_service_interactions.py
  tests/unit/amatya/test_main.py
  tests/unit/common/test_models.py
  tests/unit/janapada/test_main.py
  tests/unit/svami/test_main.py
  tests/utils/test_helpers.py
Due: black, ruff, isort, bandit

fix: resolve httpx and pytest-httpx dependency conflict
  requirements.txt
Due: none
