Repository sdamache/konveyn2ai_bigquery: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, bandit

.pre-commit-config.yaml:

# Pre-commit hooks configuration for KonveyN2AI - HACKATHON MODE
# Streamlined for demo-ready functionality over perfect style
# Focuses on critical errors that break functionality, not cosmetic issues

repos:
  # Essential pre-commit hooks only (hackathon mode)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: debug-statements  # Critical: prevents debug statements in production

  # Local tools using versions from requirements.txt
  - repo: local
    hooks:
      # Black code formatting
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: [--line-length=88]



      # Security scanning with Bandit
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        args: [--recursive, --format, txt]
        files: ^src/.*\.py$

fix: resolve Python import errors in unit tests for hyphenated directory names
  tests/unit/amatya/test_main.py
  tests/unit/janapada/test_main.py
  tests/unit/svami/test_main.py
Due: black

fix: resolve Python module name collision in unit tests
  tests/unit/amatya/test_amatya_main.py
  tests/unit/janapada/test_janapada_main.py
  tests/unit/svami/test_svami_main.py
Due: black

fix: resolve health endpoint status mismatches in unit tests
  tests/unit/amatya/test_amatya_main.py
  tests/unit/janapada/test_janapada_main.py
  tests/unit/svami/test_svami_main.py
Due: black

fix: resolve service response format mismatches in amatya tests
  tests/unit/amatya/test_amatya_main.py
Due: black

fix: resolve JSON-RPC parameter validation test logic errors
  tests/unit/amatya/test_amatya_main.py
Due: black

fix: resolve critical performance bottleneck in unit tests
  src/amatya-role-prompter/advisor.py
Due: black, bandit

fix: resolve remaining unit test assertion and logic errors
  tests/unit/amatya/test_amatya_main.py
  tests/unit/common/test_models.py
Due: black

fix: resolve major unit test failures systematically
  src/svami-orchestrator/main.py
  tests/unit/amatya/test_amatya_main.py
  tests/unit/common/test_models.py
  tests/unit/janapada/test_janapada_main.py
  tests/unit/svami/test_svami_main.py
Due: black, bandit

feat: complete systematic unit and integration test resolution for demo readiness
  fix_integration_tests.py
  tests/conftest.py
  tests/integration/test_service_interactions.py
  tests/unit/amatya/test_amatya_main.py
  tests/unit/janapada/test_janapada_main.py
  tests/unit/svami/test_svami_main.py
Due: black

feat: add comprehensive API integration and architecture documentation for KonveyN2AI
  API_INTEGRATION.md
  ARCHITECTURE.md
  EXPLANATION.md
Due: none

feat: update README.md to enhance project description and architecture details for KonveyN2AI
  README.md
Due: none

feat: enhance DEMO.md with comprehensive live demo guide, timestamps, and agentic behavior highlights
  DEMO.md
Due: none

feat: add live demo options to README.md and DEMO.md for easier access and exploration
  DEMO.md
  README.md
Due: none

fix: resolve integration test failures with proper service client mocking
  tests/integration/test_service_interactions.py
Due: black

fix: resolve Svami orchestrator test failures and improve error handling
  src/svami-orchestrator/main.py
  src/svami-orchestrator/test_orchestration.py
  tests/unit/svami/test_svami_main.py
Due: black, bandit

fix: improve Amatya role prompter test isolation and error handling
  tests/unit/amatya/test_amatya_main.py
Due: black

fix: resolve Janapada memory test failures and improve validation
  tests/unit/janapada/test_janapada_main.py
Due: black

fix: resolve Amatya test isolation issues and module contamination
  tests/unit/amatya/test_amatya_main.py
Due: black

fix: resolve Svami and Janapada test isolation issues
  tests/unit/janapada/test_janapada_main.py
  tests/unit/svami/test_svami_main.py
Due: black

style: apply Black code formatting across all Python files
  src/svami-orchestrator/main.py
  src/svami-orchestrator/test_orchestration.py
  tests/integration/test_service_interactions.py
  tests/unit/svami/test_svami_main.py
Due: black, bandit

feat: apply code quality improvements from CI feedback
  src/amatya-role-prompter/main.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_service_interactions.py
  tests/unit/amatya/test_amatya_main.py
  tests/unit/svami/test_svami_main.py
Due: black, bandit

fix: complete API field consistency fix for all Amatya tests
  tests/unit/amatya/test_amatya_main.py
Due: black

feat: implement hybrid Gemini-first, Vertex AI fallback architecture
  .env.example
  requirements.txt
  src/amatya-role-prompter/advisor.py
  src/amatya-role-prompter/config.py
  src/amatya-role-prompter/main.py
  tests/conftest.py
  tests/integration/test_gemini_migration.py
Due: black, bandit

fix: resolve httpx dependency conflict for google-genai compatibility
  requirements.txt
Due: none

fix: resolve pytest-httpx dependency conflict
  requirements.txt
Due: none

fix: remove unused pytest-httpx dependency to resolve conflict
  TESTING.md
  requirements.txt
Due: none

fix: pin starlette version to resolve TestClient compatibility
  requirements.txt
Due: none

fix: resolve CI test failures with surgical precision
  requirements.txt
  tests/integration/test_service_interactions.py
Due: black

fix: upgrade FastAPI to resolve TestClient compatibility issues
  requirements.txt
Due: none

docs: clarify FastAPI upgrade resolves TestClient compatibility
  requirements.txt
Due: none

fix: resolve remaining test failures after FastAPI upgrade
  tests/integration/test_gemini_migration.py
  tests/integration/test_service_interactions.py
Due: black

fix: resolve final CI test failures with proper mock patching
  tests/integration/test_gemini_migration.py
  tests/integration/test_service_interactions.py
Due: black

fix: resolve service interaction test failures with proper client mocking
  tests/integration/test_service_interactions.py
Due: black

fix: resolve final service interaction test failure with proper mock pattern
  tests/integration/test_service_interactions.py
Due: black

style: apply black formatting to fix CI pre-commit hook
  tests/integration/test_service_interactions.py
Due: black

fix: update default Vertex AI model to match Gemini configuration
  src/amatya-role-prompter/config.py
  tests/integration/test_gemini_migration.py
Due: black, bandit

fix: update mock Vertex AI model to match Gemini configuration
  tests/conftest.py
Due: black

fix: update logging initialization and replace event loop calls for consistency
  .gitignore
  src/amatya-role-prompter/advisor.py
  src/svami-orchestrator/main.py
Due: black, bandit

feat: implement centralized import utilities foundation
  .github/workflows/ci.yml
  .gitignore
  docs/IMPORT_STANDARDS.md
  tests/utils/__init__.py
  tests/utils/service_imports.py
  tests/utils/test_clients.py
Due: black

feat: migrate import patterns to centralized utilities
  tests/integration/test_gemini_migration.py
  tests/integration/test_service_interactions.py
Due: black
